body {
  padding: 30px;
}

.header-button {
  z-index: 100;
  padding: 8px 12px;
  margin-right: 10px;
  border: 1px solid #444444;
  border-radius: 5px;
  background-color: #ffffff;
  color: #444444;
  transition: background-color .3s;

  &:hover {
    background-color: #cccccc;
  }
}
